doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title
  body
    h1  Account
    ul
      li
        h2 Buscar
      li 
        h2
          a(href="/Add/addAccount") Crear
          
      for account in accounts
        div
          p Pagina: #{account.ownerPage.name} Usuario: #{account.ownerUser.name} Username: #{account.username}
              a(href="/delete/account/#{account._id}" ) Eliminar 
          
                  
