doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title
  body
    h1  ELPP ( ͡°  ͜ʖ  ͡°)
    ul  
      li 
        a(href="/user") User
      li
        a(href="/account") Account
      li
        a(href="/page") Original Page
