doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title
  body
    h1 Phishing Page
    ul
      li
        h2 Buscar
      li 
        h2
          a(href="/Add/addPage") Crear
      li 
        h2
          a(href="/") Eliminar   
