doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title
  body
    h1 Page
    
      
  form(action="/page/search",method="POST" )
    input(type="text",name="search",placeholder="Search",id="search",class="form-control")
    div(class="row top-space")
       div(class="col-xs-12 col-sm-6")
         input(type="submit" value="Buscar" class="btn btn-info")
    

    h2
      a(href="/Add/addPage") Crear
    
       
    for page in pages
      div
      p Nombre: #{page.name}  URL: #{page.url}
        a(href="/delete/page/#{page._id}" ) Eliminar  
            
        
