doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title
  body
    h1 Page
    ul
      li
        h2 Buscar
      li 
        h2
          a(href="/Add/addPage") Crear
    
       
        for page in pages
          div
            p= page
            a(href="/delete/page/#{page._id}" ) Eliminar  
            
        
