doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title
  body
    h1 User
    ul
      li
        h2 Buscar
      li 
        h2
          a(href="/Add/adduser" ) Crear
      
       
        for user in users
          div
            p= user
            a(href="/delete/user/#{user._id}" ) Eliminar  
            
        
